<div class="modal fade" tabindex="-1" role="dialog" id="confirmModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title">Demande d'Opération Tranquillité Vacances</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Souhaitez-vous confirmer votre demande d'Opération Tranquillité Vacances ?
      </div>
      <div class="modal-footer">
        <button id="confirmSubmit" type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
