body,
html {
  font-family: "Open Sans", "Roboto";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f4f4f4;

}

header {
  background-color: #fff;
}

h1 {
  font-size: 1.5em;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.center-form .card {
  width: 100%;
  max-width: 800px;
}

.disclaimer {
  font-size: 0.9em;
  color: #6c757d;

}

.req {
  color: red;
}


.shadowBox {
  box-shadow: 0px 0px 4px 3px rgba(178, 178, 178, 0.2);
}

/* liste de choix adresse */
#autoComplete_list_1 {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
  list-style: none;
}

#autoComplete_list_1 li {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

#autoComplete_list_1 li:hover {
  background-color: #e9ecef;
}

#autoComplete_list_1 li mark {
  background-color: #ffc107;
  color: black;
}

.activeAddress {
  background-color: #e9ecef; /* This will highlight the selected option */
  color: #495057; /* Ensure text color is legible */
}

/* boutons radio */
/* .radio-group {
  margin-bottom: 20px;
}

.radio-group .form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-group .form-check-input {
  margin-right: 10px;
}

.radio-group .form-check-label {
  margin: 0;
}

.legend {
  margin-bottom: 10px;
} */
